body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    direction: rtl;
}

.form-container {
    background-color: #d5efb6;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #253860;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #253860;
}

p a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 20px;
    text-align: right;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #253860;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007BFF;
}

button {
    background-color: #253860;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1b2d4f;
}

